[Unit]
Description=Android Binder Filesystem
DefaultDependencies=no
Before=waydroid-container.service
ConditionPathExists=/sys/fs/binder

[Mount]
What=binder
Where=/dev/binderfs
Type=binder
Options=stats=global

[Install]
WantedBy=multi-user.target
